/**********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    padding: 5px;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/***********RE_Usable********************/

.height-50{
    height: 50rem;
}



section{
    padding: 10rem  0 ; 
}

.primaryHeader_container{
padding-bottom: 9rem;
}

.primaryHeader{
    text-align: center;
    font-size: 4rem;
    color: #3c4173;
    margin: 0;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 4px;
    word-spacing: 1.5rem;
    font-style: italic;
    text-shadow: -3px 1px 4px rgb(124, 124, 124);
}

.primaryHeader:after {
    display: block;
    height: 2px;
    background-color: #3c4173;
    content: " ";
    width: 24rem;
    margin: 0 auto;
    margin-top: 16px;
    
}

.row{
    width: 80%;
    margin: auto;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(8rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }

@keyframes appears {
    0% {
      opacity: 0;
       }
    100% {
      opacity: 1;
      } }

/*********HEADER***************/

.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.7)),url(resources/img/cover.jpg);
    background-size: cover;
    background-position: top;
    height: 95vh;
    position: relative;
    background-attachment:fixed;
}

.headerTextBox{
color: rgb(232, 235, 233);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -37%);
text-align: center;
}

.headerTextBox__Tag{
    font-weight: 400;
    font-size:7rem;
    letter-spacing: 3px;
    animation-name: moveInBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.headerTextBox__Tag--size{
    font-size: 2rem;
    word-spacing: 1rem;
    letter-spacing: 2px;
    animation-name: appears;
    animation-duration: 4s;
    /* animation-timing-function: ease-out; */
}
/**********************************/
/********Section_blogs**********/

.section_blogs{
    background-color: #fdfdfd;
    
}

.blog_card{
    margin: 0 , 5px;
    width: 92%;
    -webkit-box-shadow: -1px 3px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 15px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 15px -4px rgba(0,0,0,0.75);
    border-radius: 3px;
    overflow: hidden;
}
.blog_image{
    width: 100%;
    height:28Srem;
}

.blog_text{
    padding:0 1rem;
}

.blog_header {
    margin: 2.5rem 0;
    padding-top: 1.5rem 0;
    font-weight: 400;
    font-size: 2rem;
    color: #3D1212;
    letter-spacing: 2.5px;
    text-transform: capitalize;
}

.blog_para {
    letter-spacing: 2px;
    line-height: 2.5rem;
    font-size: 1.5rem;
    word-spacing: 1rem;
    /* padding: 1.2rem 0; */
}

.btn_read {
    margin: 2rem 0;
    padding: 1rem 2rem;
    display: inline-block;
    font-size: 1.5rem;
    color: #3c4173;
    text-decoration: none;
    font-style: italic;
    border-radius: 3px;
    transition: all .5s;
}

.btn_read:hover{
    background-color: #3c4173;
    color: whitesmoke ;
}
/************************************/
/***********Vedios*******************/


.vedioTitle{
    font-size: 4rem;
    font-weight: 400;
    color: rgb(46, 44, 44);
}

.vedioContent{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing:2px;
    word-spacing: 2px;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.vedioTag{
    font-size: 2rem;
    font-weight:300;
}

.iframe-container{
    position: relative;
    width: 90%;
    padding-bottom: 56.25%; 
    height: 0;
  
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.section_vedios{
   background-color:  #f8f9fa;
}

.vedio_descriptionContainer{
    width: 80%;
    margin-left: 9rem;
}

.btn_showMore{
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #3c4173;
    border-radius: 3px;
    font-style: italic;
    text-transform: capitalize;
    color: #3c4173;
    transition: all .5s;
}

.btn_showMore:hover {
    background-color: #3c4173;
    color: #f8f9fa;
}


/************************************/
/***********Images*******************/
.composition {
    position: relative; 
} 
.composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; 
}
.composition__photo--p1 {
    left: -1%;
    top: -5rem;
}
.composition__photo--p2 {
    right: 10%;
    top: 2rem;
 }
.composition__photo--p3 {
    left: 10%;
    top: 14rem; 
}
.composition__photo--p4 {
    left: -25%;
    top: 28rem;
}
.composition__photo--p5 {
    left: -36%;
    top: 11rem;
}
.composition__photo--p6 {
    left: 57%;
    top: 23rem; 
}
.composition__photo:hover {
    outline: 1rem solid #3c4173;
    outline-offset: 1rem;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20; 
}
.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); 
}

.gallery_content{
    margin: 18rem 0;
}

.gallery_tag{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.btn_gallery{
    padding: 1.5rem 4.2rem;
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: 5rem;
    color: #ffffff;
    text-transform: capitalize;
    background-color: #3c4173;
    transition: all .3s;
}

.btn_gallery:hover {
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1rem 2rem;
    background: linear-gradient(to right bottom, rgb(51, 211, 255), rgb(0, 5, 80));
}
.btn_gallery:active{
    transform: translateY(-1px);
}
/************************************/
/***********Footer*******************/

footer{
    background-color: rgb(1, 1, 31);
    height: 30rem;
    text-align: center;
}

.footer_container{
    padding-top: 4rem;
}

.footer_tag{
    margin: 1.5rem;
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer_para{
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.icon{
    font-size: 3rem;
    color: whitesmoke;
}

.copyright{
    font-size: 1.5rem;
    padding-top: 3rem;
    color: whitesmoke;
    font-weight: 300;
    letter-spacing: 2px;
}